MONGODB_URL=mongodb://database:27017/urlShorterDB
REDIS_ADDR=redis://cashe:6379
PORT = 3000
JWT_SECRET=super_long_random_secret ## use node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
REFRESH_SECRET=other_super_long_random_secret
ADMIN_SECRET=a_super_long_random_secret_for_create_admins
PROMETHEUS_SECRET=a_super_long_random_secret_for_acess_prometheus
GOOGLE_API_KEY=an_google_safe_browsing_api_key
JWT_EXPIRES_IN=1d
FRONTEND_URL=your_frontend_url_here
NODE_ENV=your_environment_here